@import "ui-variables";

.modal.overlay {
  // Add margin top so the overlay doesn't cover the tab bar.
  // The value is equal to the tab bar height defined in tabs.less.
  margin-top: @tab-height + @tab-top-padding;
  color: @text-color;
  background-color: @overlay-background-color;
  padding: 0;

  .editor.mini {
    margin-bottom: @component-padding;
  }

  .select-list ol.list-group,
  &.select-list ol.list-group {
    li {
      padding: @component-padding;

      &.two-lines { padding: @component-padding/2 @component-padding; }

      .status.icon {
        float: right;
        margin-left: @component-icon-padding;
        &:before {
          margin-right: 0;
        }
      }

      &.selected {
        .status.icon {
          color: @text-color-selected;
        }
      }
    }
  }
}
